<div>
  <div id="#Home" class="container">
    <div></div>
    <div></div>
  </div>
  <div id="#About" class="container card">
    <div class="">
      <h2>About Me</h2>
      <p>My name is Renan Bick, i have 22 years old and living in Santa Maria, RS, Brazil<br>
        I study in UFSM (</p>
    </div>

  </div>
  <div id="#MyJourney" class="container">
    <div class="row ">
      <div class="col">
        <h2>My Journey</h2>
        <p>My walk start at 2020 when i make a test for graduation. <br>
        </p>
        <h3>4° Job</h3>
        <h3>3° Job</h3>
        <h3>2° Job</h3>
        <h3>1° Job</h3>
      </div>
      <div class="col-3 ">
        <img class="img-fluid" src="assets/imagem_jornada.jpg" alt="pessoas andando por uma estrada pavimentada em direção ao por do sol com o roda pé da imagem um chão de terra batida e o no topo, campo verde">
      </div>
    </div>
  </div>
  <div id="#Projects" class="container">
    <div class="">
      <div class="row">
        <div class="col">
          <img>
          <h3>Projeto</h3>
          <p>Descrição</p>
          <a>link</a>
        </div>
        <div class="col">
          <img>
          <h3>Projeto</h3>
          <p>Descrição</p>
          <a>link</a>
        </div>
        <div class="col">
          <img>
          <h3>Projeto</h3>
          <p>Descrição</p>
          <a>link</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img>
          <h3>Projeto</h3>
          <p>Descrição</p>
          <a>link</a>
        </div>
        <div class="col">
          <img>
          <h3>Projeto</h3>
          <p>Descrição</p>
          <a>link</a>
        </div>
        <div class="col">
          <img>
          <h3>Projeto</h3>
          <p>Descrição</p>
          <a>link</a>
        </div>
      </div>
    </div>
  </div>
  <div id="#Contact" class="container">
    <div class="row ">
      <div class="col ">
        <h2>Do you like my history?</h2>
        <p>If your answer is YES, what do you think about contact me? <br>
        you can <i>Just Do It</i> with different ways. You can contact me <br>
        in my social medias or you can do this by the forms at side, </p>
      </div>
      <div class="col card">
        <form>
          <button ></button>
        </form>
      </div>
    </div>
  </div>
</div>
